@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

.App {
  max-width: 600px;
  margin: 100px auto;
  &__title {
    text-align: center;
    margin-bottom: 40px;
  }
  &__form {
    display: flex;
    margin-bottom: 20px;
  }
}